<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- to file -->
    <target name="file" xsi:type="File" fileName="logs/log-${shortdate}.log"
            archiveFileName="logs/archives/log-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            layout="${longdate}|${level}|${message} ${exception:format=tostring}" />

    <!-- UDP -->
    <target name="udp" xsi:type="Network" address="udp://127.0.0.1:5199"
            layout="${longdate}|${level}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- for developing: file and UDP -->
    <logger name="*" minlevel="Trace" writeTo="file,udp" final="true" condition="('${configSetting:environment}' == 'Development')" />

    <!-- for production: file and only warn and highrt -->
    <logger name="*" minlevel="Info" writeTo="file,udp" final="true" condition="('${configSetting:environment}' == 'Production')" />
  </rules>
</nlog>